<div class="md-padding">
	<h3 class="md-headline">Kies een les</h3>
</div>
<md-divider ng-controller="LesController">
	<md-button ng-if="hasPermission('les','create')" class="md-fab md-primary md-mini" ng-click="addLes()">
		<md-icon>add</md-icon>
	</md-button>
</md-divider>
<md-list>
	<md-list-item ng-click="navigateTo('les/' + userles.id)" ng-repeat="userles in account.user.lessen" class="md-2-line">
		<md-icon>chrome_reader_mode</md-icon>
        <div class="md-list-item-text">
        	<fb-data type="object" name="les" path="les/{{userles.id}}"></fb-data>
			<h3>{{les.naam}}</h3>
			<p>{{les.beschrijving}}</p>
        </div>
	</md-list-item>
</md-list>
<p class="md-padding" ng-if="!account.user.lessen">
	Er zijn geen lessen beschikbaar
</p>