<div class="md-padding">
	<h3 class="md-headline">Kies een les</h3>
</div>
<md-divider ng-controller="LesController">
	<md-button ng-if="hasPermission('les','create')" class="md-fab md-primary md-mini" ng-click="addLes()">
		<md-icon>add</md-icon>
	</md-button>
</md-divider>
<fb-data type="array" name="lessen" path="les"></fb-data>
<md-list>
	<md-list-item ng-click="navigateTo('les/' + les.$id)" ng-repeat="les in lessen | orderBy:'naam'" class="md-2-line">
  		<md-icon>chrome_reader_mode</md-icon>
        <div class="md-list-item-text">
			<h3>{{les.naam}}</h3>
			<p>{{les.beschrijving}}</p>
        </div>
	</md-list-item>
</md-list>
<p class="md-padding" ng-if="!lessen.length">
	Er zijn geen lessen beschikbaar
</p>