<div layout="column" layout-align="center center">
	<div class="md-padding">	
		<img src="/resources/css/catbox.png" />
	</div>
	<form ng-submit="login(email, password)" ng-controller="AppFirebaseAuthenticationController">
		<md-input-container>
			<label>email</label>
	        <input autofocus required type="email" autocomplete="off" ng-disabled="loginActive" ng-model="email" />
		</md-input-container>
	   <md-input-container>
	        <label>password</label>
	        <input required type="password" ng-disabled="loginActive" ng-model="password" />
	    </md-input-container>
		<div layout="row" layout-align="center center" class="md-padding">
	  	  	<md-button class="md-raised md-primary" type="submit" ng-disabled="loginActive">Log In</md-button> 	
	  	</div>	
	</form>
</div>