<md-dialog>
	<md-toolbar>
		<h2 class="md-toolbar-tools md-headline">Nieuwe les</h2>
	</md-toolbar>
	<div class="md-padding">
		<form ng-submit="submit()">
			<md-input-container>
				<label>Naam</label>
				<input autofocus autocomplete="off" required ng-model="data.naam" />
			</md-input-container>
			<md-input-container>
				<label>Beschrijving</label>
				<textarea ng-model="data.beschrijving"></textarea>
			</md-input-container>
			<div layout="row">
				<md-button type="button" ng-click="cancel()">
					annuleer
				</md-button>
				<md-button type="submit" class="md-primary md-raised">
					Voeg toe
				</md-button>
			</div>
		</form>
	</div>
</md-dialog>