<md-dialog>
	<div class="md-padding">
		<h2 class="md-headline">Nieuwe opdracht</h2>
		<form ng-submit="submit()">
			<md-input-container>
				<label>Type</label>
				<md-select required ng-model="data.type">
					<md-option value="groepsgesprek">Groepsgesprek</md-option>
					<md-option value="meerkeuze">Meerkeuze</md-option>
					<md-option value="vraag">Open vraag</md-option>
				</md-select>
			</md-input-container>
			<md-input-container>
				<label>Titel</label>
				<input autocomplete="off" required ng-model="data.titel" />
			</md-input-container>
			<md-input-container>
				<label>Beschrijving</label>
				<textarea ng-model="data.beschrijving"></textarea>
			</md-input-container>
			<md-input-container>
				<label>Vraag</label>
				<input autocomplete="off" required ng-model="data.vraag" />
			</md-input-container>
			<div layout="row">
				<md-button type="button" ng-click="cancel()">
					annuleer
				</md-button>
				<md-button type="submit" class="md-primary md-raised">
					Voeg toe <md-icon>send</md-icon>
				</md-button>
			</div>
		</form>
	</div>
</md-dialog>